.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_landing {
  width: 100%;
}
.about_carosel {
  margin-top: 4rem;
  overflow-x: hidden;
}
.caroselImg {
  display: flex;
  /* justify-content: flex-start; */
}
.caroselImg img {
  /* margin: 0 1rem; */
  transition-duration: 0.3s;
  max-width: 100%;
}
#profilePicSection {
  display: none;
}
.overlay_about {
  position: relative;
  top: -368px;
  margin-bottom: -368px;
  height: 368px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
.starsDiv {
  display: flex;
  justify-content: space-around;
}
img[alt="star"] {
  width: 1rem;
}
.about_hr {
  width: 100%;
  margin: 3rem auto;
  opacity: 0.5;
}
.about_content {
  margin: 0;
  background-color: #fff;
  padding: 0 2rem 7rem;
  max-width: 700px;
}
.aboutHeader {
  position: relative;
  top: -15rem;
  margin-bottom: -8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.aboutHeader img {
  width: 0.8rem;
  display: none;
}
.about_content h1 {
  font-size: 3.4rem;
  color: #e0bc75;
  font-family: "Dancing Script", cursive;
}
.about_content text {
  font-size: 1.3rem;
  color: #e0bc75;
}
.about_content a {
  transition-duration: 0.2s;
}
.about_content ul {
  margin: 2rem 0;
  font-size: 1.2rem;
}
.about_content ul li {
  color: darkslategrey;
  list-style: url("./resources/Icons/navstar\ blue.svg");
}
.about_content p {
  font-size: 1.2rem;
  line-height: 1.5;
}
/* media queries */
@media screen and (min-width: 360px) {
  .starsDiv {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 411px) {
  .starsDiv {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .about_content h1 {
    font-size: 4.2rem;
  }
  .caroselImg {
    background-image: url("./resources/shan/salonbg.jpg");
    background-size: contain;
    align-items: center;
    justify-content: center;
  }
  #profilePicSection {
    display: block;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1024px) {
}
