/* Global styles:  */
/* Fonts: 
Dancing Script: Headers
font-family: "Dancing Script", cursive;
Orbitron: Product names subheaders
font-family: "Orbitron", sans-serif;
Handlee: text  
font-family: 'Handlee', cursive;
*/
/* UNSPLASH Credits:  */
/* Photo by Shari Sirotnak on Unsplash */
/* Photo by Guilherme Petri on Unsplash */
/* Photo by Lauren Fleischmann on Unsplash */
/* Replace gold  with: 
#e0bc75 */

* {
  box-sizing: border-box;
  /* font-family: "Handlee", cursive; */
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #e0bc75;
}
a:hover {
  text-decoration: underline;
  color: #e09900;
}

p {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
}
html {
  width: 100%;
}
body {
  width: 100%;
  margin: 0;
}
#hamburger {
  cursor: pointer;
  margin: 2rem;
  position: relative;
  height: 36px;
  width: 36px;
  border: 1px solid black;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}
#patty1,
#patty2 {
  height: 3px;
  width: 80%;
  position: relative;
  transition-duration: 0.3s;
  left: 3px;
  background-color: #fff;
  border-radius: 10px;
}
#patty1 {
  top: 12px;
}
#patty2 {
  top: 19px;
}
.navDiv {
  display: flex;
  z-index: 4;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: black;
}
.mobileHeader a {
  color: #e0bc75;
  font-size: 30px;
  padding: 1rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}
.mobileNavMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  position: fixed;
  top: 4rem;
  left: 100vw;
  z-index: 2;
  width: 0;
  border-top: 2px solid #e0bc75;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateX(80vw);
  transition-timing-function: cubic-bezier(0.39, 0.23, 0.21, 1.16);
  background-color: black;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.mobileNavMenu a:hover {
  color: #e0bc75;
}
.mobileNavMenu a {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
}
.mobileNavMenu div {
  margin: 1.4rem 0;
}
.navDiv nav {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  transition-duration: 0.3s;
}
.navDiv nav div {
  text-align: center;
  width: 8rem;
  transition-duration: 0.1s;
}
.navDiv nav div a {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  transition-duration: 0.3s;
}
.navDiv nav div:hover .nav_underline {
  opacity: 1;
}
.navDiv nav div:first-child {
  margin-right: auto;
  width: 20%;
}
.navDiv nav div:first-child a {
  color: #e0bc75;
  font-size: 30px;
  padding: 1rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}
.header span {
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  margin-left: 0.5rem;
  top: 1.5rem;
}
.navDiv .nav_underline,
.scrolledNav .nav_underline {
  margin-right: auto;
  margin-left: 15%;
  width: 70%;
  height: 3px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  background-color: #e0bc75;
}
.navDiv .insta_underline {
  background: rgb(250, 126, 30);
  background: linear-gradient(
    90deg,
    rgba(250, 126, 30, 1) 11%,
    rgba(214, 41, 118, 1) 29%,
    rgba(150, 47, 191, 1) 55%,
    rgba(79, 91, 213, 1) 84%,
    rgba(250, 161, 30, 1) 100%
  );
}
/* scrolled nav */
.scrolledNav {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  background-color: black;
  /* opacity: 0.9; */
}
.scrolledNav nav {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: flex-end;
  align-items: center;
}
.scrolledNav nav div {
  width: 8rem;
  text-align: center;
  transition-duration: 0.1s;
}
.scrolledNav nav div:hover .nav_underline {
  opacity: 1;
}
.scrolledNav nav div a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.scrolledNav nav div:first-child {
  margin-right: auto;
  width: 20%;
}
.scrolledNav nav div:first-child a {
  color: #e0bc75;
  font-size: 30px;
  padding: 1rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}
.active {
  color: #e0bc75;
  list-style: url("./resources/Icons/navstar.svg");
}
.follow p {
  color: #fff;
  margin: 0;
}
.follow a span {
  animation: instaShine 8.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  margin-right: -0.3rem;
}
.follow img {
  margin-right: 0.5rem;
}
@keyframes instaShine {
  20% {
    color: #fa7e1e;
  }
  40% {
    color: #d62976;
  }
  60% {
    color: #962fbf;
  }
  100% {
    color: #4f5bd5;
  }
}
/* footer section */
footer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
}
footer h3 {
  color: white;
  margin: 2rem 0;
}
footer a {
  color: #e0bc75;
}
footer a:hover {
  text-decoration: underline;
}
#footerContact,
#footerAddress {
  margin: 1.4rem 0;
}
#footerContact p {
  font-size: 1rem;
  margin: 8px 0 8px 2rem;
}
.footer_instalink {
  color: #fff;
}
#footerContact p:nth-child(3):after {
  content: url("./resources/Icons/instagramold.svg");
  margin: 0.5rem;
  height: 20px;
  width: 20px;
}
.hours {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  border: 1px solid #e0bc75;
}
.hours h2 {
  font-size: 1.3rem;
  color: #fff;
}
.hours p {
  font-size: 1rem;
  color: #fff;
}
.hours_table {
  display: flex;
  flex-direction: column;
}
.hours_row {
  display: flex;
  justify-content: space-between;
}
.hours_row p:nth-child(even) {
  color: #e0bc75;
}
#footerAddress p {
  font-size: 1rem;
  color: #e0bc75;
}
.googleMaps {
  margin: 2rem 0;
}
.copyrightDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.copyrightDiv p {
  color: #fff;
}
/* media queries */
/* mobile small */
@media screen and (min-width: 360px) {
}
/* mobile large */
@media screen and (min-width: 411px) {
}
/* Tablet */
@media screen and (min-width: 768px) {
  .mobileHeader,
  #hamburger {
    display: none;
  }
  .navDiv {
    position: static;
  }
  .navDiv nav {
    display: flex;
  }
  .navDiv nav div:first-child,
  .scrolledNav nav div:first-child {
    width: 30%;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .header {
    max-width: 224px;
  }
}
