.videoDiv {
  height: 37rem;
  overflow: hidden;
  margin-bottom: 8rem;
  background-image: url("https://res.cloudinary.com/drucvvo7f/image/upload/c_scale,e_auto_brightness,w_2232/v1587526178/salonChairs.jpg.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
}
#vid {
  display: none;
}
video {
  width: 100vw;
  height: 40rem;
  position: absolute;
  object-fit: fill;
  z-index: -3;
}
.overlay {
  /* background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 14%,
    rgba(0, 0, 0, 1) 100%
  ); */
  background-color: #000;
  width: 100vw;
  height: 37rem;
  position: relative;
  z-index: 0;
  opacity: 0.5;
}
.titleDiv {
  position: relative;
  top: -30rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.title,
.sub_title {
  cursor: default;
  font-family: "Dancing Script", cursive;
  margin: 0 0.7rem;
  font-size: 3.2rem;
  color: #e0bc75;
}
.sub_title {
  font-size: 1.4rem;
}
#scroll_up {
  transition-duration: 0.5s;
  position: fixed;
  top: 30rem;
  left: 100%;
}
#scroll_up img {
  width: 2rem;
  transform: scaleX(-1);
}
#scroll_up span {
  display: none;
}
.intro h2 {
  margin-left: 1rem;
}
.intro_div {
  width: 100%;
}
.intro_paragraph {
  padding: 1rem;
}
.intro_hr {
  opacity: 0.4;
  width: 70%;
  margin: 2rem auto;
}
.testimonials {
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5rem 0;
}
.preload {
  display: none;
}
.testimonials .test_sub_header {
  margin: 2rem 0;
  text-align: center;
}
.testimonials .entry_wrapper {
  border: 1px solid #e0bc75;
  margin: 1rem;
  padding: 0.3rem;
  background-color: #fff;
}
.testimonials .entry {
  transition-duration: 0.3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonials .entry .row_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials_img_overlay {
  background-color: #fff;
  height: 5rem;
  min-width: 5rem;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem;
}
.testimonial_profile_pic {
  width: 5rem;
  height: auto;
  background-color: transparent;
  /* margin-left: -1rem; */
}
.testimonial_user {
  margin: 0;
}
/* media queries */
@media screen and (min-width: 360px) {
  .title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 411px) {
  .testimonials_img_overlay {
    max-width: 5rem;
  }
  .testimonial_user {
    flex-basis: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .titleDiv {
    top: -35rem;
  }
  .title {
    font-size: 6rem;
  }
  #scroll_up span {
    display: initial;
  }
  .intro {
    margin: 10rem 0;
  }
  .intro h2 {
    font-size: 2.8rem;
    text-align: center;
  }
  .intro_div {
    max-width: 600px;
    margin: 0 auto;
  }
  .intro_paragraph {
    margin: 4rem 0;
  }
  .testimonials h1 {
    font-size: 2.6rem;
  }
  .testimonials .test_sub_header {
    margin: 0 0 6rem 0;
  }
  .testimonials .entry_wrapper {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
}
