.videoDiv {
  height: 37rem;
  overflow: hidden;
  margin-bottom: 8rem;
  background-color: #000;
}
#vid {
  display: none;
}
video {
  width: 100vw;
  height: 40rem;
  position: absolute;
  object-fit: fill;
  z-index: -3;
}
.overlay {
  background-color: #000;
  width: 100vw;
  height: 100%;
  position: relative;
  z-index: 0;
  background-image: url("https://res.cloudinary.com/drucvvo7f/image/upload/c_scale,e_auto_brightness,w_2232/v1587526178/salonChairs.jpg.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay_overlay {
  background-color: #000;
  width: 100vw;
  height: 100%;
  opacity: 0.5;
  position: relative;
}
.titleDiv {
  position: relative;
  top: -30rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.title,
.sub_title {
  cursor: default;
  font-family: "Dancing Script", cursive;
  margin: 0 0.7rem;
  font-size: 3.2rem;
  color: #e0bc75;
}
.sub_title {
  font-size: 1.4rem;
}
#scroll_up {
  transition-duration: 0.5s;
  position: fixed;
  top: 30rem;
  left: 100%;
}
#scroll_up img {
  width: 2rem;
  transform: scaleX(-1);
}
#scroll_up span {
  display: none;
}
.intro h2 {
  margin-left: 1rem;
}
.header_outline,
.test_header_outline,
.outro_header_outline {
  display: none;
}
.intro_div {
  width: 100%;
}
.intro_paragraph,
.outro p {
  padding: 1rem;
}
.intro_hr {
  opacity: 0.4;
  width: 70%;
  margin: 2rem auto;
}
.testimonials {
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5rem 0 8rem;
}
.preload {
  display: none;
}
.testimonials .test_sub_header {
  margin: 2rem 0;
  text-align: center;
}
.testimonials .entry_wrapper {
  border: 1px solid #e0bc75;
  margin: 1rem;
  padding: 0.3rem;
  background-color: #fff;
}
.testimonials .entry {
  transition-duration: 0.3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonials .entry .row_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials_img_overlay {
  background-color: #fff;
  height: 5rem;
  min-width: 5rem;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem;
}
.testimonial_profile_pic {
  width: 5rem;
  height: auto;
  background-color: transparent;
}
.testimonial_user {
  margin: 0;
}
.outro {
  margin: 4rem 0 8rem;
  padding: 1rem;
}
.outro h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.products_wrapper {
  display: flex;
  flex-direction: column;
}
.products_wrapper img {
  width: 100%;
  margin: 1rem 0;
}
.products_wrapper h2 {
  margin: 2rem 0;
}
/* media queries */
@media screen and (min-width: 360px) {
  .videoDiv {
    height: 40rem;
  }
  .title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 411px) {
  .testimonials_img_overlay {
    max-width: 5rem;
  }
  .testimonial_user {
    flex-basis: 100%;
    text-align: center;
  }
  .intro_paragraph {
    padding: 1rem 2rem;
  }
  .products_wrapper img {
    width: 60%;
    margin: 2rem auto;
  }
  .products_wrapper p {
    padding-left: 25%;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .titleDiv {
    top: -35rem;
  }
  .title {
    font-size: 8vw;
  }
  #scroll_up span {
    display: initial;
  }
  .intro {
    margin: 10rem 0;
  }
  .intro h2 {
    font-size: 2.8rem;
    text-align: center;
  }
  .header_outline,
  .testi_header_outline,
  .outro_header_outline {
    display: block;
    border-left: 3px solid #e0bc75;
    border-bottom: 3px solid #e0bc75;
    margin: 0 auto;
    height: 7rem;
    width: 16rem;
  }
  .header_outline {
    position: relative;
    top: -8rem;
    margin-bottom: -5rem;
  }
  .testi_header_outline {
    position: absolute;
  }
  .outro_header_outline {
    position: relative;
    top: -10rem;
  }
  .intro_div {
    max-width: 600px;
    margin: 0 auto;
  }
  .intro_paragraph {
    margin: 4rem 0;
  }
  .testimonials h1,
  .outro h1 {
    position: relative;
    font-size: 2.6rem;
    padding-bottom: 2rem;
  }
  .testimonials .test_sub_header {
    margin: 0 0 6rem 0;
  }
  .testimonials .entry_wrapper {
    width: 60%;
  }
  .outro {
    margin-top: 11rem;
  }
  .products_wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .products_wrapper img {
    width: 30%;
    min-width: 308px;
  }
  .products_wrapper h2 {
    margin-left: 1rem;
  }
  .products_wrapper p {
    border-left: 1px solid lightgrey;
    margin: 0 1.4rem;
    width: 50vw;
    height: 18rem;
    padding: 4rem 1rem 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
}
