.follow p {
  display: none;
}
.product_container {
  padding-top: 10rem;
  width: 100%;
}
.product_container h1 {
  transition-duration: 0.6s;
  font-family: "Dancing Script", cursive;
  position: relative;
  z-index: 2;
  padding-left: 1rem;
  color: #e0bc75;
  font-size: 5rem;
}
.products_underline {
  transition-duration: 0.6s;
  display: none;
  position: relative;
  top: -7rem;
  left: 20%;
  z-index: 2;
  height: 8px;
  width: 60%;
  max-width: 590px;
  border-radius: 8px;
  background-color: #e0bc75;
}
.product_overlay {
  transition-duration: 0.6s;
  height: 250%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0.7;
}
.intro_paragraph {
  font-family: "Jost", sans-serif;
  padding: 1rem;
  text-align: center;
}
.intro_paragraph button {
  width: 6rem;
  height: 3rem;
  border-radius: 5px;
  margin-left: 2rem;
  font-size: 1rem;
  background-color: #e0bc75;
  margin: 1rem;
}
.intro_paragraph button:hover {
  transition-duration: 0.3s;
  transform: scale(1.1);
}
.product_container h2 {
  padding: 1rem;
  margin: 6rem 0;
  text-align: center;
}
.products_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  margin: 5rem 0 10rem;
  justify-content: center;
}
.products_content .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  margin-top: 2.5rem;
  padding: 0.3rem;
}
.products_content .item:hover {
  outline: 1px solid #e0bc75;
}
.item img {
  width: auto;
  height: 10rem;
  margin: 0 1rem 0 0;
}
.item .info {
  flex-direction: column;
  align-items: center;
}
.item .info .title {
  font-size: 1.1rem;
  font-weight: bolder;
}
.item .info .desc {
  padding: 0;
  margin: 0 0 1rem;
}
.item .info a {
  width: 100%;
  margin-left: 30%;
}
.item .info button {
  cursor: pointer;
  height: 2rem;
  width: 4.2rem;
  border-radius: 5px;
}
.item .info button:hover {
  background-color: #e0bc75;
}
.products_content .item p {
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
  padding: 1rem;
}
@media screen and (min-width: 360px) {
}
@media screen and (min-width: 411px) {
  .product_container h1 {
    margin-left: 10%;
  }
  .intro_paragraph {
    padding: 0 10%;
    margin: 7rem 0;
  }
}
@media screen and (min-width: 768px) {
  .follow p {
    display: block;
  }
  .navDiv {
    display: none;
    opacity: 0;
  }
  .product_container {
    padding-top: 0;
  }
  .product_container h1 {
    margin-left: 20%;
    font-size: 10rem;
  }
  .products_underline {
    display: block;
  }
  .product_container h1 {
    transition-duration: 0.6s;
  }
  .intro_paragraph {
    margin: 5rem 0 15rem;
  }
  .intro_paragraph button {
    width: 8rem;
    height: 4rem;
  }
  .product_container h2 {
    text-align: center;
    margin: 10rem 0;
  }
  .products_content .item {
    margin: 2rem;
  }
}
@media screen and (min-width: 1024px) {
}
