.follow p {
  display: none;
}
.product_container {
  padding-top: 10rem;
  width: 100%;
}
.product_container h1 {
  font-family: "Dancing Script", cursive;
  position: relative;
  z-index: 2;
  padding-left: 1rem;
  color: #e0bc75;
  font-size: 5rem;
}
.products_underline {
  display: none;
  position: relative;
  top: -7rem;
  left: 20%;
  z-index: 2;
  height: 8px;
  width: 60%;
  max-width: 590px;
  border-radius: 8px;
  background-color: #e0bc75;
}
.product_overlay {
  height: 150%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0.7;
}
.products_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}
.products_content .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  margin: 2rem;
}
.item img {
  width: auto;
  height: 10rem;
}
.item .info {
  flex-direction: column;
  align-items: center;
}
.item .info .title {
  font-size: 1.1rem;
  font-weight: bolder;
}
.item .info .desc {
  padding: 0;
  margin: 0 0 1rem;
}
.item .info a {
  width: 100%;
  margin-left: 30%;
}
.products_content .item p {
  font-size: 0.9rem;
  padding: 1rem;
}
@media screen and (min-width: 360px) {
}
@media screen and (min-width: 411px) {
}
@media screen and (min-width: 768px) {
  .follow p {
    display: block;
  }
  .navDiv {
    display: none;
    opacity: 0;
  }
}
@media screen and (min-width: 1024px) {
}
