/* mobile small */
@media screen and (min-width: 360px) {
  .title {
    font-size: 3rem;
  }
}
/* mobile large */
@media screen and (min-width: 411px) {
  .service_1 {
    align-items: center;
  }
  .mobileImg img {
    width: 100%;
  }
}
/* Tablet */
@media screen and (min-width: 768px) {
  .mobileHeader,
  #hamburger {
    display: none;
  }
  .navDiv {
    position: static;
  }
  .navDiv nav {
    display: flex;
  }
  .titleDiv {
    top: -35rem;
  }
  .titleDiv img {
    width: 3rem;
  }
  .title {
    font-size: 4rem;
  }
  .titleUnderline {
    max-width: 400px;
  }
  .downarrow {
    top: -9rem;
  }
  .mobileImg {
    display: none;
  }
  .service {
    /* height: 30rem; */
  }
  .service_1_div {
    margin-bottom: -10rem;
  }
  .carosel {
    display: flex;
    min-height: 555px;
  }
  .prices {
    top: -12rem;
    right: 10rem;
  }
  #where {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .prices {
    top: -26rem;
    right: 65%;
  }
  #next,
  #next_2,
  #next_3,
  #next_4,
  #next_5 {
    top: 16rem;
    left: 150%;
  }
}
