.services_banner {
  padding-top: 8rem;
  width: 100%;
  height: 30rem;
  /* border: 1px solid red; */
}
.services_banner h1 {
  position: relative;
  z-index: 2;
  padding-left: 1rem;
  color: #e0bc75;
  font-size: 5rem;
}
.services_overlay {
  /* height: 40rem; */
  height: 150vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0.8;
}
.services_downarrow {
  top: 3rem;
  z-index: 2;
}
.services_banner h1,
.services_overlay,
.services_downarrow {
  transition-duration: 0.6s;
}
.services_intro {
  margin-top: 4rem;
}
/* media queries */
@media screen and (min-width: 411px) {
  .services_banner {
    height: 40rem;
  }
  .services_intro {
    /* border: px solid red; */
    margin-top: 8rem;
    width: 100%;
    padding: 1rem;
  }
  .services_overlay {
    height: 65rem;
  }
}
@media screen and (min-width: 768px) {
  .navDiv {
    display: none;
  }
  .services_banner {
    padding-top: 3rem;
  }
  .services_banner h1 {
    font-size: 7rem;
    margin-left: 20%;
  }
  .services_intro p {
    margin-left: 8rem;
  }
  .services_downarrow {
    /* top: 10rem; */
  }
}
