/* Fonts: 
Dancing Script: Headers
font-family: "Dancing Script", cursive;
Orbitron: Product names subheaders
font-family: "Orbitron", sans-serif;
Handlee: text  
font-family: 'Handlee', cursive;
*/
/* UNSPLASH Credits:  */
/* Photo by Shari Sirotnak on Unsplash */
/* Photo by Guilherme Petri on Unsplash */
/* Photo by Lauren Fleischmann on Unsplash */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Handlee", cursive;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.active {
  border-bottom: 4px solid gold;
}
.navDiv {
  display: flex;
  width: 100%;
}
.navDiv nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}
.navDiv nav div a {
  color: #fff;
  display: flex;
  margin: 10px 15px 5px 30px;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  /* transition-duration: 0.3s; */
}
.navDiv nav div:first-child {
  flex-grow: 6;
  width: 20%;
}
.navDiv nav div:first-child a {
  color: gold;
  font-size: 30px;
  padding: 1rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}
/* scrolled nav */
.scrolledNav {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  background-color: black;
  opacity: 0.9;
}
.scrolledNav nav {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: flex-end;
  align-items: center;
}
.scrolledNav nav div a {
  color: #fff;
  display: flex;
  margin: 10px 15px 5px 30px;
  font-size: 18px;
  text-decoration: none;
}
.scrolledNav nav div:first-child {
  flex-grow: 6;
  width: 20%;
}
.scrolledNav nav div:first-child a {
  color: gold;
  font-size: 30px;
  padding: 1rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}
.follow img {
  margin-right: 0.5rem;
}
.videoDiv {
  /* height: 80vh; */
  height: 100vh;
}
video {
  width: 100vw;
  height: 90vh;
  position: absolute;
  object-fit: fill;
  z-index: -3;
}
.overlay {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 14%,
    rgba(0, 0, 0, 1) 100%
  );
  background-image: url("./resources/shan.jpg");
  background-size: contain;
  background-attachment: fixed;
  width: 100vw;
  /* height: 90vh; */
  height: 100vh;
  position: absolute;
  z-index: -2;
  opacity: 0.5;
}
.title {
  font-family: "Dancing Script", cursive;
  display: block;
  position: absolute;
  top: 35vh;
  left: 10vw;
  width: 50%;
  font-size: 72px;
  color: #fff;
}
.servicesHeaderWrapper {
  position: relative;
  top: 140px;
  margin-bottom: 8rem;
}
#servicesHeaderDiv {
  display: flex;
  flex-direction: column;
  justify-content: left;
  z-index: 4;
}
#services_header {
  display: flex;
  font-size: 42px;
  padding-left: 13%;
  max-width: 87%;
}
#underline {
  display: flex;
  height: 4px;
  width: 60%;
  margin-left: 8%;
  background-color: gold;
}
#where {
  opacity: 0;
}
.modal {
  position: absolute;
  opacity: 0.6;
  top: 170vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: none;
  background-color: slategray;
}
.service {
  display: flex;
  height: 120vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}
.service p {
  font-family: "Handlee", cursive;
}
.service:nth-child(even) {
  background-color: #ddd;
}
.service:last-child {
  position: relative;
}
.service_1 {
  display: flex;
  flex-direction: column;
  /* align-content: flex-end; */
}
.service_1_div {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.prices {
  height: 10rem;
  width: 10rem;
  padding: 8px;
  border: 3px solid gold;
}
.prices h4 {
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 500;
}
.prices ul li {
  margin-top: 1.2rem;
  list-style: none;
}
#next,
#back {
  display: flex;
  align-self: center;
  position: relative;
  top: 0%;
  min-height: 60px;
  min-width: 80px;
  background-image: url("./resources/icons/next.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition-duration: 0.3s;
}
#back {
  left: 10rem;
  transform: rotate(180deg);
}
#next {
  right: 10rem;
}
.carosel {
  height: 80vh;
  width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
}
.carosel div {
  position: relative;
  display: flex;
  width: 300px;
  text-align: center;
  align-content: center;
  justify-content: center;
  transition-duration: 1s;
}
.div1 {
  left: 10rem;
}
.div2 {
  /* width: auto; */
}
.div3 {
  right: 10rem;
  z-index: -1;
}
.carosel div img {
  position: relative;
  border-radius: 5px;
  transition-duration: 0.3s;
  box-shadow: 8px 10px 8px grey;
}
.left1,
.left2,
.left3,
.right1,
.right2,
.right3 {
  filter: blur(4px);
  align-self: center;
  /* width: initial; */
}
.left1 {
  transform: translateX(0) scale(0.8);
}
.middle1 {
  align-self: center;
  filter: blur(0px);
  /* height: 300px; */
  /* width: initial; */
  transform: translateX(7rem) scale(1);
  cursor: pointer;
}
.right1 {
  transform: translateX(14rem) scale(0.8);
}
.left2 {
  transform: translateX(-7rem) scale(0.8);
}
.middle2 {
  align-self: center;
  filter: blur(0px);
  /* height: 300px;
  width: initial; */
  cursor: pointer;
  transform: translateX(0) scale(1);
}
.right2 {
  transform: translateX(7rem) scale(0.8);
}
.left3 {
  transform: translateX(-14rem) scale(0.8);
}
.middle3 {
  align-self: center;
  filter: blur(0px);
  /* height: 300px;
  width: initial; */
  transform: translateX(-7rem) scale(1);
  cursor: pointer;
}
.right3 {
  transform: translateX(0) scale(0.8);
}
.service_2 {
  margin: 4rem 0;
  display: flex;
  flex-direction: row;
}
#colorImg {
  width: 23vw;
}
.service_5 {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
footer {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
footer h3 {
  color: white;
  margin: 2rem 0;
}
#footer p {
  color: white;
}
footer a {
  color: gold;
}
footer a:visited {
  color: gold;
}
footer a:hover {
  text-decoration: underline;
}
#footerContact,
#footerAddress {
  margin: 1.4rem 0;
}
#footerContact p {
  margin: 8px 0 8px 2rem;
}
#footerAddress p {
  color: gold;
}
.googleMaps {
  margin: 2rem 0;
}
/* media queries */
@media screen and (max-width: 738px) {
  nav div:first-child {
    flex-grow: 3;
  }
  nav div:first-child a {
    color: red;
  }
  footer {
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
  }
}
