/* Fonts: 
Dancing Script: Headers
font-family: "Dancing Script", cursive;
Orbitron: Product names subheaders
font-family: "Orbitron", sans-serif;
Handlee: text  
font-family: 'Handlee', cursive;
*/
/* UNSPLASH Credits:  */
/* Photo by Shari Sirotnak on Unsplash */
/* Photo by Guilherme Petri on Unsplash */
/* Photo by Lauren Fleischmann on Unsplash */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Handlee", cursive;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
}
.active {
  border-bottom: 4px solid gold;
}
#hamburger {
  cursor: pointer;
  margin: 2rem;
  position: relative;
  height: 36px;
  width: 36px;
  border: 1px solid black;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}
#patty1,
#patty2 {
  height: 3px;
  width: 80%;
  position: relative;
  transition-duration: 0.3s;
  left: 3px;
  background-color: #fff;
  border-radius: 10px;
}
#patty1 {
  top: 12px;
}
#patty2 {
  top: 19px;
}
.navDiv {
  display: flex;
  z-index: 4;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: black;
}
.mobileHeader a {
  color: gold;
  font-size: 30px;
  padding: 1rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}
.mobileNavMenu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  position: fixed;
  top: 10vh;
  left: 100vw;
  z-index: 2;
  width: 0;
  border-top: 2px solid gold;
  transform: translateX(80vw);
  transition-timing-function: cubic-bezier(0.39, 0.23, 0.21, 1.16);
  background-color: black;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.mobileNavMenu a:hover {
  color: gold;
}
.mobileNavMenu a {
  color: #fff;
  display: flex;
  margin: 10px 15px 5px 30px;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  margin: 1.4rem 0;
}
.navDiv nav {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  transition-duration: 0.3s;
}
.navDiv nav div a {
  color: #fff;
  display: flex;
  margin: 10px 15px 5px 30px;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  /* transition-duration: 0.3s; */
}
.navDiv nav div:first-child {
  flex-grow: 6;
  width: 20%;
}
.navDiv nav div:first-child a {
  color: gold;
  font-size: 30px;
  padding: 1rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}
/* scrolled nav */
.scrolledNav {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  background-color: black;
  opacity: 0.9;
}
.scrolledNav nav {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: flex-end;
  align-items: center;
}
.scrolledNav nav div a {
  color: #fff;
  display: flex;
  margin: 10px 15px 5px 30px;
  font-size: 18px;
  text-decoration: none;
}
.scrolledNav nav div:first-child {
  flex-grow: 6;
  width: 20%;
}
.scrolledNav nav div:first-child a {
  color: gold;
  font-size: 30px;
  padding: 1rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}
.follow img {
  margin-right: 0.5rem;
}
.videoDiv {
  height: 100vh;
}
#vid {
  display: none;
}
video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: fill;
  z-index: -3;
}
.downarrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  position: relative;
  top: -20vh;
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.04, 1.17, 0.58, 1.53);
  animation-iteration-count: infinite;
}
.downarrow img {
  margin: 1rem 0.5rem;
}
@keyframes pulse {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.overlay {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 14%,
    rgba(0, 0, 0, 1) 100%
  );
  /* background-image: url("./resources/shan.jpg"); */
  background-image: url("./resources/istockphoto-1191833337-1024x1024.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-clip: border-box;
  width: 100vw;
  /* height: 90vh; */
  height: 100vh;
  position: absolute;
  z-index: -2;
  opacity: 0.8;
}
.title {
  font-family: "Dancing Script", cursive;
  display: block;
  position: absolute;
  top: 50vh;
  /* left: 10vw; */
  left: 7vw;
  width: 50%;
  /* font-size: 72px; */
  font-size: 42px;
  color: #fff;
  color: gold;
  z-index: 1;
  text-shadow: 4px 1px 9px black;
}
.titleUnderline {
  position: relative;
  top: 58vh;
  left: 5vw;
  width: 0;
  background-color: #fff;
  height: 3px;
}
.services_section {
  /* margin-top: 40vh; */
}
.servicesHeaderWrapper {
  margin-bottom: 8rem;
  /* width: 100%; */
}
#servicesHeaderDiv {
  position: relative;
  z-index: 3;
  margin-top: 40vh;
}
#services_header {
  font-size: 20px;
  width: 6rem;
  position: fixed;
  top: 10vh;
  left: -8rem;
}
#underline {
  position: fixed;
  height: 4px;
  width: 5rem;
  top: 15vh;
  left: -8rem;
  background-color: gold;
}
#where {
  padding-left: 2rem;
  opacity: 0;
  width: 10vw;
  display: none;
}
.service {
  display: flex;
  /* height: 110vh; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.service p {
  font-family: "Handlee", cursive;
}
.service:nth-child(odd) {
  background-color: #ddd;
}
.service:last-child {
  position: relative;
}
.service_section_header {
  margin: 3rem 0;
  border-bottom: 1px solid gold;
}
.service_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.service_1_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mobileImg {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mobileImg img {
  width: 95%;
}
.prices {
  position: relative;
  top: -10vh;
  z-index: 1;
  min-height: 10rem;
  min-width: 10rem;
  padding: 8px;
  background-color: #fff;
  border: 3px solid gold;
  opacity: 0.8;
}
.prices h4 {
  margin-top: 8%;
  font-size: 20px;
  font-weight: 500;
}
.prices ul li {
  font-size: 20px;
  margin-top: 1.2rem;
  list-style: none;
}
.next {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-self: center;
  position: relative;
  right: 50%;
  min-height: 60px;
  min-width: 80px;
  background-image: url("./resources/icons/next.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition-duration: 0.3s;
}
#next span:nth-child(2) {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.carosel {
  /* height: 80vh; */
  width: 60%;
  position: relative;
  display: none;
  justify-content: center;
  flex-direction: column;
}
.carosel div {
  position: relative;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  transition-duration: 1s;
}
.div1 {
  left: 10rem;
  display: none;
}
.div3 {
  display: none;
  right: 10rem;
  z-index: -1;
}
.carosel div img {
  position: relative;
  border-radius: 5px;
  transition-duration: 0.3s;
  box-shadow: 8px 10px 8px grey;
}
.left1,
.left2,
.left3,
.right1,
.right2,
.right3 {
  filter: blur(4px);
  align-self: center;
  /* width: initial; */
}
.left1 {
  transform: translateX(0) scale(0.8);
}
.middle1 {
  align-self: center;
  filter: blur(0px);
  /* height: 300px; */
  /* width: initial; */
  transform: translateX(9rem) scale(1);
}
.right1 {
  transform: translateX(18rem) scale(0.8);
}
.left2 {
  transform: translateX(-7rem) scale(0.8);
}
.middle2 {
  align-self: center;
  filter: blur(0px);
  /* height: 300px;
  width: initial; */
  transform: translateX(0) scale(1);
}
.right2 {
  transform: translateX(7rem) scale(0.8);
}
.left3 {
  transform: translateX(-14rem) scale(0.8);
}
.middle3 {
  align-self: center;
  filter: blur(0px);
  /* height: 300px;
  width: initial; */
  transform: translateX(-7rem) scale(1);
}
.right3 {
  transform: translateX(0) scale(0.8);
}
footer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
}
footer h3 {
  color: white;
  margin: 2rem 0;
}
#footer p {
  color: white;
}
footer a {
  color: gold;
}
footer a:visited {
  color: gold;
}
footer a:hover {
  text-decoration: underline;
}
#footerContact,
#footerAddress {
  margin: 1.4rem 0;
}
#footerContact p {
  margin: 8px 0 8px 2rem;
}
#footerContact p:nth-child(3):after {
  content: url("./resources/Icons/instagram.svg");
  margin: 0.5rem;
  height: 20px;
  width: 20px;
}
#footerAddress p {
  color: gold;
}
.googleMaps {
  margin: 2rem 0;
}
/* media queries */
@media screen and (min-width: 411px) {
  .service {
    height: 100vh;
  }
  .service_1 {
    align-items: center;
  }
  .mobileImg img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .mobileImg {
    display: none;
  }
  .carosel {
    display: flex;
  }
}
